/* MAPS */
/* EXTEND */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.flex-center, .gallery__picture::before {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex, .Categorias-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* MIXIN */
* {
  box-sizing: border-box; }

/* WHATSAPP */
.btn-wsp {
  position: fixed;
  width: 62px;
  height: 60px;
  line-height: 58px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease; }
  .btn-wsp:hover {
    background: #20ba5a; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 62px;
    height: 60px;
    line-height: 58px; } }

.main {
  background: #f0f0f0;
  padding: 40px 20px; }

article {
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
  background: white; }
  article article p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300px; }

/* FOOTER */
.pie-pagina {
  width: 100%;
  background-color: #0a141d; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0; }
    .pie-pagina .grupo-1 .box .figura img {
      width: 250px; }
    .pie-pagina .grupo-1 .box h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px; }
    .pie-pagina .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 10px;
      font-family: 'Vollkorn', serif; }
    .pie-pagina .grupo-1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center;
      transition: all 300ms ease; }
    .pie-pagina .grupo-1 .red-social a:hover {
      color: aqua; }
  .pie-pagina .grupo-2 {
    background-color: #0d2033;
    padding: 10px;
    text-align: center;
    color: #fff; }
  .pie-pagina .grupo-2 small {
    font-size: 15px; }

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px; }
  nav ul li a {
    font-size: 16px; } }

@media (max-width: 858px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0; }
  .hfooter {
    display: flex;
    justify-content: center; }
  .red-social {
    display: flex;
    justify-content: center; }
  .figura {
    display: flex;
    justify-content: center; } }

/* BARRA DE NAVEGACION */
.logo {
  width: 105px;
  height: 90px; }

.header {
  background-color: #0d2033; }

ul > li > a {
  color: white;
  transition: all 300ms ease;
  font-size: 19px;
  font-family: 'Manrope', sans-serif; }

ul > li > a:hover {
  transform: scale(1);
  background: #0074c7;
  box-shadow: 0px 0 px 10px 20px rgba(0, 0, 0, 0.5); }

.imagen-portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

a {
  text-decoration: none;
  color: black; }

/* MENU */
.menu {
  background: #f0f0f0;
  padding: 40px 20px; }
  .menu section article .olproductos {
    padding: 5px;
    max-width: 100%;
    flex: 100%;
    text-align: start;
    font-family: 'Vollkorn', serif; }
    .menu section article .olproductos .texto-productos {
      padding: 5px;
      margin: 10px;
      height: 100%;
      width: 100%;
      font-family: 'Vollkorn', serif; }

.main-preguntas {
  height: 100%;
  width: 100%;
  background: #f0f0f0;
  padding: 40px 20px; }
  .main-preguntas ol {
    font-family: 'Vollkorn', serif; }
  .main-preguntas p {
    font-family: 'Vollkorn', serif; }
  .main-preguntas li {
    font-family: 'Vollkorn', serif; }
  .main-preguntas h2 h3 {
    font-family: 'Oswald', sans-serif; }

.textorganizadoli {
  display: list-item; }

.tituloh2 {
  height: 100%;
  width: 100%;
  text-align: start;
  max-width: 100%;
  padding: 10px;
  margin: 20px; }

.tituloh3 {
  height: 100%;
  text-align: start;
  max-width: 83%;
  flex: 83%;
  padding: 10px;
  margin: 10px; }

.texto-productos {
  padding: 5px;
  margin: 10px;
  height: 100%;
  width: 100%; }

.texto-organizadoproductos {
  display: block;
  list-style-type: 1em;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; }

.olproductos {
  max-width: 100%;
  flex: 100%;
  text-align: start;
  padding: 5px; }

h5 {
  font-size: 18px;
  text-align: center; }

.ptachado {
  text-decoration: line-through;
  padding-right: 10px;
  margin-left: 100px;
  color: black;
  font-size: 20px; }

.pnotachado {
  color: black;
  margin-right: 10px;
  font-size: 20px; }

/* MENU */
.Categorias-productos img {
  width: 100%;
  height: 100%; }

/* DESTACADOS */
.tituloo {
  text-align: center;
  font-size: 42px;
  width: 100%; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: minmax(100px, auto);
  background-color: white; }

.imgdestacados {
  height: 350px;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 20px; }

.container-destacados {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white; }

.caja {
  margin: 30px; }
  .caja img {
    width: 350px;
    height: 350px;
    border-radius: 15px; }
  .caja p {
    text-align: center;
    font-size: 24px;
    color: black;
    font-family: 'Vollkorn', serif; }

/* OPINIONES */
.opinion {
  border: 1px solid #9B9B9B;
  margin: 20px;
  padding: 20px;
  letter-spacing: 1px; }

.estrellas {
  height: 65px;
  width: 65px;
  text-align: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto; }

.titulo3 {
  text-align: center;
  font-size: 2em; }

/* GALERIA DE IMAGENES */
.title {
  text-align: center;
  font-size: 3rem;
  padding: .8em 0 .4em;
  color: black; }

.gallery {
  padding-bottom: 3em;
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img4" "img5 img5 img6 img7" "img5 img5 img8 img8";
  gap: .8em;
  grid-auto-rows: 250px; }

.gallery__picture {
  position: relative;
  cursor: pointer;
  overflow: hidden; }

.gallery__picture::before {
  content: "TUKI";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5b40f3a6;
  transform: scale(0);
  transition: transform .4s;
  color: #fff;
  font-size: 1.5rem; }

.gallery__picture:hover::before {
  transform: scale(1) rotate(360deg); }

.gallery__picture--g1 {
  grid-area: img1; }

.gallery__picture--g2 {
  grid-area: img2; }

.gallery__picture--g3 {
  grid-area: img3; }

.gallery__picture--g4 {
  grid-area: img4; }

.gallery__picture--g5 {
  grid-area: img5; }

.gallery__picture--g6 {
  grid-area: img6; }

.gallery__picture--g7 {
  grid-area: img7; }

.gallery__picture--g8 {
  grid-area: img8; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (max-width: 1285px) {
  .estrellas {
    height: 55px;
    width: 55px; } }

@media (max-width: 1135px) {
  .estrellas {
    height: 45px;
    width: 45px; }
  .titulo3 {
    text-align: center;
    font-size: 1.5em; } }

@media (max-width: 1021px) {
  .estrellas {
    height: 40px;
    width: 40px; } }

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px; }
  nav ul li a {
    font-size: 16px; } }

@media (max-width: 985px) {
  .estrellas {
    height: 35px;
    width: 35px; } }

@media (max-width: 868px) {
  .estrellas {
    height: 34px;
    width: 34px; } }

@media (max-width: 858px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0; }
  .wrapper {
    display: block; }
  .estrellas {
    height: 50px;
    width: 50px; } }

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    padding: .8em .4em; }
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img1 img1" "img1 img1" "img2 img3" "img4 img4" "img4 img4" "img5 img5" "img6 img6" "img7 img7" "img8 img8" "img8 img8"; }
  .gallery__picture::before {
    font-size: 1rem; }
  .estrellas {
    height: 45px;
    width: 45px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container-contacto {
  width: 100%;
  margin-top: 80px; }

.content-contacto {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
  color: #434343; }

.content-contacto h2 {
  font-size: 40px;
  margin-bottom: 25px; }

.info-contacto p {
  line-height: 1.5;
  font-size: 17px;
  margin-bottom: 35px; }

.info-contacto a {
  text-decoration: none;
  color: #434343;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 17px; }

.info-contacto a i {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  border: 2px solid #096aed;
  color: #096aed;
  margin-right: 15px; }

.formulario .campo {
  width: 100%;
  padding: 13px 15px;
  font-size: 16px;
  margin-bottom: 13px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  outline: 0px; }

.formulario .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 13px; }

.formulario textarea {
  max-height: 150px;
  min-height: 150px; }

.formulario .boton {
  border: none;
  padding: 12px 57px;
  font-size: 18px;
  background: #0d2033;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
  outline: 0px;
  will-change: transform; }

.formulario .botoon {
  border: none;
  padding: 12px 74px;
  font-size: 18px;
  background: #BD1919;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
  outline: 0px;
  will-change: transform; }

.formulario .boton:active {
  transform: scale(0.95); }

@media screen and (max-width: 900px) {
  .content-contacto {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px; }
  .formulario .box {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px; }
  .formulario textarea {
    max-height: 120px;
    min-height: 120px; } }
