/* MAPS */
/* EXTEND */
.flex-center, .pie-pagina .grupo-1 .box figure, .Categorias-productos, .gallery__picture::before {
  display: flex;
  justify-content: center;
  align-items: center; }

/* MIXIN */
* {
  box-sizing: border-box; }

.main {
  background: #f0f0f0;
  padding: 40px 20px; }

article {
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

article p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300px; }

/* FOOTER */
.pie-pagina {
  width: 100%;
  background-color: #0a141d; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0; }
    .pie-pagina .grupo-1 .box figure {
      width: 100%;
      height: 100%; }
      .pie-pagina .grupo-1 .box figure img {
        width: 250px; }
    .pie-pagina .grupo-1 .box h2 {
      color: #fff;
      font-size: white; }
    .pie-pagina .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 10px; }
    .pie-pagina .grupo-1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center;
      transition: all 300ms ease; }
      .pie-pagina .grupo-1 .red-social a:hover {
        color: aqua; }
  .pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    .pie-pagina .grupo-2 small {
      font-size: 15px; }

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px; }
  nav ul li a {
    font-size: 16px; } }

@media (max-width: 858px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0; }
  .hfooter {
    display: flex;
    justify-content: center; }
  .red-social {
    display: flex;
    justify-content: center; } }

/* BARRA DE NAVEGACION */
.logo {
  border-radius: 8px;
  width: 80px;
  height: 40px; }

.header {
  background-color: #0d2033; }

ul > li > a {
  color: white;
  transition: all 300ms ease;
  font-size: 17px; }

ul > li > a:hover {
  transform: scale(1.1);
  background: #0074c7;
  box-shadow: 0px 0 px 10px 0px rgba(0, 0, 0, 0.5); }

.imagen-portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

a {
  text-decoration: none;
  color: black; }

/* MENU */
.menu {
  background: #f0f0f0;
  padding: 40px 20px; }
  .menu section article .olproductos {
    padding: 5px;
    max-width: 100%;
    flex: 100%;
    text-align: start; }
    .menu section article .olproductos .texto-productos {
      padding: 5px;
      margin: 10px;
      height: 100%;
      width: 100%; }

.main-preguntas {
  height: 100%;
  width: 100%;
  background: #f0f0f0;
  padding: 40px 20px; }
  .main-preguntas .tituloh2 {
    height: 100%;
    width: 100%;
    text-align: start;
    max-width: 100%;
    padding: 10px; }
  .main-preguntas .tituloh3 {
    height: 100%;
    text-align: start;
    max-width: 83%;
    flex: 83%;
    padding: 10px; }
  .main-preguntas .olproductos {
    max-width: 100%;
    flex: 100%;
    text-align: start;
    padding: 5px; }

.texto-organizadoli {
  display: list-item; }

h5 {
  font-size: 18px;
  text-align: center; }

.ptachado {
  text-decoration: line-through;
  padding-right: 10px;
  margin-left: 100px;
  color: black;
  font-size: 20px; }

.pnotachado {
  color: black;
  margin-right: 10px;
  font-size: 20px; }

/* MENU */
.Categorias-productos img {
  width: 100%;
  height: 100%; }

/* DESTACADOS */
.tituloo {
  text-align: center;
  font-size: 42px;
  width: 100%; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: minmax(100px, auto);
  background-color: white; }

.imgdestacados {
  height: 350px;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px; }

.container-destacados {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white; }

.caja {
  margin: 30px; }
  .caja img {
    width: 350px;
    height: 350px;
    border-radius: 15px; }
  .caja p {
    text-align: center;
    font-size: 24px;
    color: black; }

/* OPINIONES */
.opinion {
  border: 1px solid #9B9B9B;
  margin: 20px;
  padding: 20px;
  letter-spacing: 1px; }

.estrellas {
  height: 65px;
  width: 65px;
  text-align: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto; }

.titulo3 {
  text-align: center;
  font-size: 2em; }

/* GALERIA DE IMAGENES */
.title {
  text-align: center;
  font-size: 3rem;
  padding: .8em 0 .4em;
  color: black; }

.gallery {
  padding-bottom: 3em;
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img4" "img5 img5 img6 img7" "img5 img5 img8 img8";
  gap: .8em;
  grid-auto-rows: 250px; }

.gallery__picture {
  position: relative;
  cursor: pointer;
  overflow: hidden; }

.gallery__picture::before {
  content: "TUKI";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5b40f3a6;
  transform: scale(0);
  transition: transform .4s;
  color: #fff;
  font-size: 1.5rem; }

.gallery__picture:hover::before {
  transform: scale(1) rotate(360deg); }

.gallery__picture--g1 {
  grid-area: img1; }

.gallery__picture--g2 {
  grid-area: img2; }

.gallery__picture--g3 {
  grid-area: img3; }

.gallery__picture--g4 {
  grid-area: img4; }

.gallery__picture--g5 {
  grid-area: img5; }

.gallery__picture--g6 {
  grid-area: img6; }

.gallery__picture--g7 {
  grid-area: img7; }

.gallery__picture--g8 {
  grid-area: img8; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (max-width: 1285px) {
  .estrellas {
    height: 55px;
    width: 55px; } }

@media (max-width: 1135px) {
  .estrellas {
    height: 45px;
    width: 45px; }
  .titulo3 {
    text-align: center;
    font-size: 1.5em; } }

@media (max-width: 1021px) {
  .estrellas {
    height: 40px;
    width: 40px; } }

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px; }
  nav ul li a {
    font-size: 16px; } }

@media (max-width: 985px) {
  .estrellas {
    height: 35px;
    width: 35px; } }

@media (max-width: 868px) {
  .estrellas {
    height: 34px;
    width: 34px; } }

@media (max-width: 858px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0; }
  .wrapper {
    display: block; } }

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    padding: .8em .4em; }
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img1 img1" "img1 img1" "img2 img3" "img4 img4" "img4 img4" "img5 img5" "img6 img6" "img7 img7" "img8 img8" "img8 img8"; }
  .gallery__picture::before {
    font-size: 1rem; }
  .estrellas {
    height: 45px;
    width: 45px; } }
