/* BARRA DE NAVEGACION */

.logo {
    width: 105px;
    height: map-get($medidas, total);
}

.header {
    background-color: map-get($colores, principal);
}

ul>li>a {
    color: map-get($colores, secundario);
    transition: all 300ms ease;
    font-size: map-get($tamanio-tipografia, titulos);
    @extend .titulos 
};


ul>li>a:hover {
    box-shadow: 0 0 10px #427AC4, 0 0 40px #427AC4, 0 0 80px #427AC4;
    transition-delay: 0s;
    border-radius:map-get($medidas, 5);
};

.imagen-portada {
    @include flexbox(column, center, center)
};

a {
    text-decoration: none;
    color: map-get($colores, cuaternario);
}

/* MENU */

.bodyy{
    background-image: url(/imagenes/img12.jpg);
}

.como-comprar{
    @extend .titulos 
};

.menu {
    background: #f0f0f0;
    padding: map-get($medidas, 40) map-get($medidas, 20);

    section {
        article {
            .olproductos {
                padding: map-get($medidas, 5);
                max-width: map-get($medidas, tamanio-total);
                flex: map-get($medidas, tamanio-total);
                text-align: start;
                

                .texto-productos {
                    padding: map-get($medidas, 5);
                    margin: map-get($medidas, 10);
                    height: map-get($medidas, tamanio-total);
                    width: map-get($medidas, tamanio-total);
                    @extend .titulos 

                };
            }
        }
    }
}


    
