/* CONTACTANOS */

.container-contacto {
    width: map-get($medidas , tamanio-total);
    margin-top: 80px;
}

.content-contacto {
    width: map-get($medidas , tamanio-total);
    max-width: 1110px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
    color: #434343;
}

.content-contacto h2 {
    font-size: map-get($medidas , 40);
    margin-bottom: 25px;
}

.info-contacto p {
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 35px;
}

.info-contacto a {
    text-decoration: none;
    color: #434343;
    margin-bottom: map-get($medidas , 20);
    @extend .flexx-center;
    font-size: 17px;
}

;

.info-contacto a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    @extend .center;
    line-height: 35px;
    border-radius: 50%;
    border: 2px solid #096aed;
    color: #096aed;
    margin-right: 15px;
}

;

.formulario .campo {
    width: map-get($medidas , tamanio-total);
    padding: 13px 15px;
    font-size: 16px;
    margin-bottom: 13px;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    outline: 0px;
}

.formulario .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 13px;
}

.formulario textarea {
    max-height: 150px;
    min-height: 150px;
}

.btn {
    position: relative;
    border-radius: 4px;
    text-transform: uppercase;
    color: map-get($colores , secundario);
    font-size: 18px;
    background-color: map-get($colores, principal);
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid map-get($colores , principal);
    margin-bottom: map-get($medidas , 40);
    z-index: 0;
    font-weight: 700;

    &:hover {
        background: map-get($colores, principal);
        box-shadow: 0 0 10px map-get($colores, principal), 0 0 40px map-get($colores, principal), 0 0 80px map-get($colores, principal);
        transition-delay: 0s;
        color: map-get($colores, secundario);
    }
}

.titulo-contacto {
    @extend .titulos
}

;

.texto-contacto {
    @extend .textos
}

;


@media screen and (max-width:900px) {
    .content-contacto {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: map-get($medidas , 20);
    }

    .formulario .box {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }

    .formulario textarea {
        max-height: 120px;
        min-height: 120px;
    }
}