*{
    box-sizing: border-box;
}

/* ARTICULOS */

/*  body {

     font-family: 'Akshar', sans-serif;
    font-family: 'Playfair Display', serif; 
}

h1 h2 h3 h4 {
    font-family: 'Akshar', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Playfair Display', serif;
}  */

.main {
    background: #f0f0f0;
    padding: 40px $letra-texto2;
}

article {
    max-width: 1200px;
    margin: $letra-texto2 auto;
    padding: 40px;
    background: #fff;
}

article p {
    margin-top: $letra-texto2;
    font-size: $letra-texto;
    font-weight: 300px;
}

.pie-pagina {
    width: $tamanio-total;
    background-color: #0a141d;

    & .grupo-1 {
        width: $tamanio-total;
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0;

        .box figure {
            width: $tamanio-total;
            height: $tamanio-total;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 250px;
            }
        }

        .box h2 {
            color: $color-terciario;
            margin-bottom: 25px;
            font-size: $letra-texto2;
        }

        .box p {
            color: #efefef;
            margin-bottom: $tamanio-10;
        }

        .red-social a {
            display: inline-block;
            text-decoration: none;
            width: $tamanio-45;
            height: $tamanio-45;
            line-height: $tamanio-45;
            color: $color-terciario;
            margin-right: $tamanio-10;
            background-color: $color-principal;
            text-align: center;
            transition: all 300ms ease;

            &:hover {
                color: aqua;
            }
        }
    }

    .grupo-2 {
        background-color: #0a1a2a;
        padding: 15px $tamanio-10;
        text-align: center;
        color: $color-terciario;

        small {
            font-size: 15px;
        }
    }
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {

    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }

    .hfooter {
        display: flex;
        justify-content: center;
    }

    .red-social {
        display: flex;
        justify-content: center;
    }
}

  



