/* MENU */

.Categorias-productos {

    @extend .flex;

    img {
        width: map-get($medidas, tamanio-total);
        height: map-get($medidas, tamanio-total);
    }
}

/* DESTACADOS */

.tituloo {
    @extend .center;
    font-size: 42px;
    width: map-get($medidas, tamanio-total);

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: minmax(100px, auto);
    background-color:  map-get($colores, secundario);

}

.imgdestacados {
    height: 350px;
    width: 350px;
    margin-top: map-get($medidas, 20);
    margin-bottom: map-get($medidas, 20);
    margin-left: map-get($medidas, 50);
    margin-right: map-get($medidas, 20);

}

.container-destacados {
    width: map-get($medidas, tamanio-total);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: map-get($colores, secundario);
}

.caja {
    margin: 30px;

    img {
        width: 350px;
        height: 350px;
        border-radius: 15px;
    }

    p {
        @extend .center;
        font-size: map-get($tamanio-tipografia, titulos);
        color: map-get($colores, cuaternario);
        font-family: 'Vollkorn', serif;
    }
}

/* OPINIONES */


.opinion {
    border: 1px solid #9B9B9B;
    margin: map-get($medidas, 20);
    padding: map-get($medidas, 20);
    letter-spacing: 1px;
}

.estrellas {
    height: 65px;
    width: 65px;
    text-align: map-get($medidas, 10);
    margin-top: map-get($medidas, 20);
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.titulo3 {
    @extend .center;
    font-size: 2em;
}

/* GALERIA DE IMAGENES */

.mainn{
    font-family: 'Manrope', sans-serif;
}

.title {
    @extend .center;
    font-size: 3rem;
    padding: .8em 0 .4em;
    color: black;
}

.gallery {
    padding-bottom: 3em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "img1 img1 img2 img3"
        "img1 img1 img4 img4"
        "img5 img5 img6 img7"
        "img5 img5 img8 img8";
    gap: .8em;
    grid-auto-rows: 250px;
}

.gallery__picture {
    position: relative;
    cursor: pointer;
    overflow: hidden;

}

.gallery__picture::before {
    content: "TUKI";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b40f3a6;
    transform: scale(0);
    transition: transform .4s;
    color: map-get($colores, terciario);
    @extend .flex-center;
    font-size: 1.5rem;
}

.gallery__picture:hover::before {
    transform: scale(1) rotate(360deg);
}

.gallery__picture--g1 {
    grid-area: img1;
}

.gallery__picture--g2 {
    grid-area: img2;
}

.gallery__picture--g3 {
    grid-area: img3;
}

.gallery__picture--g4 {
    grid-area: img4;
}

.gallery__picture--g5 {
    grid-area: img5;
}

.gallery__picture--g6 {
    grid-area: img6;
}

.gallery__picture--g7 {
    grid-area: img7;
}

.gallery__picture--g8 {
    grid-area: img8;
}

.gallery__img {
    width: map-get($medidas, tamanio-total);
    height: map-get($medidas, tamanio-total);
    object-fit: cover;
}

@media (max-width: 1285px) {
    .estrellas {
        height: 55px;
        width: 55px;
    }
}

@media (max-width: 1135px) {
    .estrellas {
        height: map-get($medidas, 45);
        width: map-get($medidas, 45);
    }

    .titulo3 {
        text-align: center;
        font-size: 1.5em;
    }
}

@media (max-width: 1021px) {
    .estrellas {
        height: map-get($medidas, 40);
        width: map-get($medidas, 40);
    }
}

@media (max-width: 952px) {
    .enlace {
        padding-left: map-get($medidas, 20);
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 985px) {
    .estrellas {
        height: 35px;
        width: 35px;
    }
}

@media (max-width: 868px) {
    .estrellas {
        height: 34px;
        width: 34px;
    }
}

@media (max-width: 858px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }

    .wrapper {
        display: block;
    }

    .estrellas {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
        padding: .8em .4em;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "img1 img1"
            "img1 img1"
            "img2 img3"
            "img4 img4"
            "img4 img4"
            "img5 img5"
            "img6 img6"
            "img7 img7"
            "img8 img8"
            "img8 img8";
    }

    .gallery__picture::before {
        font-size: 1rem;
    }

    .estrellas {
        height: map-get($medidas, 45);
        width: map-get($medidas, 45);
    }
}