/* MENU */

.Categorias-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        img{
            width: $tamanio-total;
            height: $tamanio-total;
        }
}

/* DESTACADOS */

.tituloo {
    text-align: center;
    font-size: 42px;
    width: $tamanio-total;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: minmax(100px, auto);
    background-color: $color-secundario;

}

.imgdestacados {
    height: 350px;
    width: 350px;
    margin-top: $letra-texto2;
    margin-bottom: $letra-texto2;
    margin-left: $tamanio-total/2;
    margin-right: $letra-texto2;

}

.container-destacados {
    width: $tamanio-total;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.caja {
    margin: 30px;

    img {
        width: 350px;
        height: 350px;
        border-radius: 15px;
    }

    p {
        text-align: center;
        font-size: 24px;
        color: black;
    
    }
}

/* OPINIONES */


.opinion {
    border: 1px solid #9B9B9B;
    margin: $letra-texto2;
    padding: $letra-texto2;
    letter-spacing: 1px;
}

.opinion2 {
    border: 1px solid #9B9B9B;
    margin: $letra-texto2;
    padding: $letra-texto2;
    letter-spacing: 1px;
}

.opinion3 {
    border: 1px solid #9B9B9B;
    margin: $letra-texto2;
    padding: $letra-texto2;
    letter-spacing: 1px;
}

.estrellas {
    height: 65px;
    width: 65px;
    text-align: $tamanio-10;
    margin-top: $letra-texto2;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.titulo3 {
    text-align: center;
    font-size: 2em;
}

/* GALERIA DE IMAGENES */

.title {
    text-align: center;
    font-size: 3rem;
    padding: .8em 0 .4em;
    color: black;
}

.gallery {
    padding-bottom: 3em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "img1 img1 img2 img3"
        "img1 img1 img4 img4"
        "img5 img5 img6 img7"
        "img5 img5 img8 img8";
    gap: .8em;
    grid-auto-rows: 250px;
}

.gallery__picture {
    position: relative;
    cursor: pointer;
    overflow: hidden;

}

.gallery__picture::before {
    content: "TUKI";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b40f3a6;
    transform: scale(0);
    transition: transform .4s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.gallery__picture:hover::before {
    transform: scale(1) rotate(360deg);
}

.gallery__picture--g1 {
    grid-area: img1;
}

.gallery__picture--g2 {
    grid-area: img2;
}

.gallery__picture--g3 {
    grid-area: img3;
}

.gallery__picture--g4 {
    grid-area: img4;
}

.gallery__picture--g5 {
    grid-area: img5;
}

.gallery__picture--g6 {
    grid-area: img6;
}

.gallery__picture--g7 {
    grid-area: img7;
}

.gallery__picture--g8 {
    grid-area: img8;
}

.gallery__img {
    width: $tamanio-total;
    height: $tamanio-total;
    object-fit: cover;
}

@media (max-width: 1285px){
    .estrellas{
        height: 55px;
        width: 55px;
    }
}

@media (max-width: 1135px){
    .estrellas{
        height: $tamanio-45;
        width: $tamanio-45;
    }
    .titulo3 {
        text-align: center;
        font-size: 1.5em;
    }
}  
    @media (max-width: 1021px){
        .estrellas{
            height: 40px;
            width: 40px;
        }
    }

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 985px){
    .estrellas{
        height: 35px;
        width: 35px;
    }
}

@media (max-width: 868px){
    .estrellas{
        height: 34px;
        width: 34px;
    }
}

@media (max-width: 858px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }
    .wrapper {
        display: block;
    }
    .estrellas{
        height: $tamanio-total/2;
        width: $tamanio-total/2;
    }
} 

@media (max-width: 768px){
    .title {
        font-size: 1.5rem;
        padding: .8em .4em;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "img1 img1"
            "img1 img1"
            "img2 img3"
            "img4 img4"
            "img4 img4"
            "img5 img5"
            "img6 img6"
            "img7 img7"
            "img8 img8"
            "img8 img8";
    }
    .gallery__picture::before {
        font-size: 1rem;
    }
    .estrellas{
        height: $tamanio-45;
        width: $tamanio-45;
}
}




