.main-preguntas {
    height: $tamanio-total;
    width: $tamanio-total;
    background: #f0f0f0;
    padding: 40px $letra-texto2;

    .tituloh2 {
        height: $tamanio-total;
        width: $tamanio-total;
        text-align: start;
        max-width: $tamanio-total;
        padding: $tamanio-10;
    }
    .tituloh3 {
        height: $tamanio-total;
        text-align: start;
        max-width: 83%;
        flex: 83%;
        padding: $tamanio-10;

}
    .olproductos {
        max-width: $tamanio-total;
        flex: $tamanio-total;
        text-align: start;
        padding: $tamanio-5;
    }
}

.texto-organizadoli {
    display: list-item;
}