.main-preguntas {
    height: map-get($medidas, tamanio-total);
    width: map-get($medidas, tamanio-total);
    background: #f0f0f0;
    padding: map-get($medidas, 40) map-get($medidas, 20);

    .tituloh2 {
        height: map-get($medidas, tamanio-total);
        width: map-get($medidas, tamanio-total);
        text-align: start;
        max-width: map-get($medidas, tamanio-total);
        padding: map-get($medidas, 10);
    }
    .tituloh3 {
        height: map-get($medidas, tamanio-total);
        text-align: start;
        max-width: 83%;
        flex: 83%;
        padding: map-get($medidas, 10);

}
    .olproductos {
        max-width: map-get($medidas, tamanio-total);
        flex: map-get($medidas, tamanio-total);
        text-align: start;
        padding: map-get($medidas, 5);
    }
}

.texto-organizadoli {
    display: list-item;
}