 .boton {
     background-color: map-get($colores , principal);
     color: map-get($colores , secundario);
 }

 .d-productos {
     @extend .center;
     font-size: map-get($tamanio-tipografia, textos);
 }

 .titulo-productos {
     font-family: 'Vollkorn', serif;
 }

 .texto-productos {
    font-family: 'DM Sans', sans-serif;
 }