h5 {
    font-size: map-get($tamanio-tipografia, parrafos);
    text-align: center;
}

.ptachado {
    text-decoration: line-through;
    padding-right: map-get($medidas, 10);
    margin-left: 100px;
    color: map-get($colores, cuaternario);
    font-size: map-get($medidas, 20);   
}

.pnotachado {
    color: map-get($colores, cuaternario);
    margin-right: map-get($medidas, 10);
    font-size: map-get($tamanio-tipografia, textos);
    
}

