/* COLORES */

$color-principal: #0d2033;
$color-secundario: white;
$color-terciario: #fff;

/* TAMAÑOS */

$tamanio-total: 100%;
$tamanio-medio: $tamanio-total/2;
$tamanio-cuarto: $tamanio-medio/2;
$tamanio-5: 5px;
$tamanio-10: 10px;
$tamanio-45: 45px;

/* TIPOGRAFIAS */

$letra-texto: 18px;
$letra-texto2: 20px;

/* MAPS */

/*  */


