/* MAPS */

$colores: (
    principal: #0d2033,
    secundario: white,
    terciario: #fff,
    cuaternario: black,
);

$tamanio-tipografia: (
    titulos: 24px,
    subtitulos: 22px,
    textos: 20px,
    parrafos: 18px,
    letra-chica: 12px,
);

$medidas: (
    tamanio-total: 100%,
    total: 100px,
    50: 50px,
    25: 25px ,
    45: 45px,
    40: 40px,
    20: 20px,
    18: 18px,
    10: 10px,
    5: 5px,
);

/* EXTEND */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

;

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

;

/* MIXIN */

@mixin flexbox ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

;